@font-face{font-family:'Cascadia Code';font-style:normal;font-display:swap;font-weight:400;src:url(./files/cascadia-code-latin-ext-400-normal.woff2) format('woff2'),url(./files/cascadia-code-latin-ext-400-normal.woff) format('woff')}

code, pre {
    font-family: Cascadia Code !important;
}

.site-description {
    font-size: 14px !important;
    font-weight: 500 !important;
}

@media (prefers-color-scheme: dark) {
    html, body, .main {
        color: #E8ECF6;
        background: #161615;
    }
    .site-description {
        color: rgba(232,236,246,0.4);
    }
}
